@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Tagesschrift&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url('./pictures/bvg-flb.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.show-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  background-color: #2b3a4788;
  border-radius: 10px;

}

.show-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-family: "Tagesschrift", system-ui;
}

.show-header > h1 {
  color: #f0c710dd;
  font-size: 3.4em;
  margin-left: 10px;
  margin-right: 10px;
 
}

.show-actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 30px;
}

button {
  padding: 8px 10px;
  background-color: #4b598e;
  color: rgb(255, 255, 253);
  border-radius: 50px;
  border: none;
  font-size: 1.1em;
  width: 10em;
  margin: 5px;
  font-family: "Tagesschrift", system-ui;
}

button:hover {
  background-color: #000000;
}

.show-actions > a {
  background-color: #4b598e;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  padding: 8px 10px;
  border-radius: 30px;
  width: 10em;
  text-align: center;
  margin: 5px;
  font-family: "Tagesschrift", system-ui;
}

.show-actions > a:hover {
  background-color: #1c2e5b;
}

p {
  color: #f0c710dd;
  font-weight: bold;
  font-size: 1.4em;
  margin: 10px 30px;
  text-align: center;
}

